registry = "https://registry.npm.taobao.org"
@gaoding:registry="https://registry-npm.gaoding.com"
link-workspace-packages=true
shamefully-hoist=ture
public-hoist-pattern[]=*
prefer-workspace-packages=true
